body {
    text-align: center;
}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.listLollies {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listLollies .lollipop, .lollyFormDiv .lollipop {
    height: 300px;
}
 
.lollyFormDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lollyFlavourDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorPickerLabel {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
    overflow: hidden;


}
.colorPicker {
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
}

.lollyFrom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------------------showLolly---------------------*/

.Lol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result {
    color: #fff;
  }

.result > h4 {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-style: italic;
}

.result  h3 {
    color: #fa73d9;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    border: 1px solid #000;
    background-color: #000;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    font-size: 15px !important;
    text-align: center;
}

.result__details {
    padding: 1em 2em;
    margin-bottom: 1.5em;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-align: left;
    font-style: italic;
    font-size: 1.1em;
    color: #fff;
}

.reciever {
    font-family: Yellowtail, cursive;
    font-size: 1.6em;
    font-style: normal;
    text-shadow: #000 0 0 10px;
}

.sender {
    font-family: Yellowtail, cursive;
    font-size: 1.6em;
    font-style: normal;
    text-shadow: #000 0 0 10px;
    text-align: center;
}

.details{
    text-align: left; 
    border: 2px solid #fa73d9 ; 
    padding: 20px;
    margin-left: 50px;
    box-shadow: 0 0 6px #fa73d9;

}

h1{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}